<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>os6lsb</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>BackupIcon</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>oneSafe 6 Backup</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>studio.lunabee.oneSafe.ios.os6lsb</string>
			</array>
			<key>UTTypeIconFile</key>
			<array>
				<string>oneSafe6-UrlScheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>os6lsb</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>BackupIcon</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>oneSafe 6 Sharing</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>studio.lunabee.oneSafe.ios.os6lss</string>
			</array>
			<key>UTTypeIconFile</key>
			<array>
				<string>oneSafe6-UrlScheme</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>oneSafe6-UrlScheme</string>
			<key>CFBundleURLName</key>
			<string>os6ls</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>os6ls</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>onesafe</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.studio.lunabee.oneSafe.ios</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>oneSafe 6</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>oneSafe 6 Backup</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>BackupIcon</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>studio.lunabee.oneSafe.ios.os6lsb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>os6lsb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-onesafe6-backup</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>oneSafe 6 Sharing</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>BackupIcon</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>studio.lunabee.oneSafe.ios.os6lss</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>os6lss</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-onesafe6-sharing</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>oneSafe 6 Backup</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>BackupIcon</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>studio.lunabee.oneSafe.ios.os6lsb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>os6lsb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-onesafe6-backup</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>oneSafe 6 Sharing</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>BackupIcon</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>studio.lunabee.oneSafe.ios.os6lss</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>os6lss</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-onesafe6-sharing</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
